body {
  font-family: "Syne", sans-serif;
}

.projects-section {
  width: 100%;
  padding: var(--spacing-medium);
  display: flex;
  flex-direction: column;
}

.projects__section--functionality {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.search-input {
  height: 40px;
  width: 200px;
  padding: var(--spacing-small);
  border: 2px solid black;
}

.projects__section-header {
  font-size: var(--font-size-header);
  line-height: var(--spacing-xlarge);
  height: 100px;
  width: 50%;
  padding-top: var(--spacing-xlarge);
  padding-bottom: var(--spacing-xlarge);
  display: flex;
  align-items: center;
}

.projects-filter {
  display: flex;
  gap: var(--spacing-medium);
  margin-bottom: 20px;
  justify-content: center;
  width: 50%;
  justify-content: left;
}

.filter-link {
  border: none;
  background-color: var(--background-color);
  color: black;
  font-size: var(--font-size-xsmall);
  line-height: var(--spacing-medium);
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-family: Syne;
}

.filter-link:hover {
  color: var(--tertiary-color);
}

.filter-active {
  color: black;
  text-decoration: underline;
}

.projects-container {
  width: 100%;
  height: 1250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-card {
  width: 49%;
  max-width: 50%;
  height: 600px;
  background-color: var(--background-color);
  text-align: left;
  overflow: hidden;
}

.project-image {
  width: 100%;
  height: 500px;
  margin-bottom: 10px;
  object-fit: cover;
}

.project-card h3 {
  margin: 10px 0;
  font-size: var(--font-size-small);
  cursor: pointer;
}

.project-card h3 a {
  color: black;
}

.project-card p {
  font-size: var(--font-size-xsmall);
}

/* Media Queries */
/* Break Point Small Tablet: 580px */
@media screen and (max-width: 580px) {
  .navbar__links {
    width: 75%;
  }

  footer img {
    max-width: 80px;
  }

  .filter-link {
    font-size: var(--font-size-2xsmall);
  }
  .projects-container {
    height: 1050px;
  }

  .project-card {
    height: 500px;
  }

  .project-image {
    height: 400px;
  }
}

/* Break Point Large Phone: 425px */
@media screen and (max-width: 425px) {
  .navbar__links {
    width: 75%;
  }

  footer img {
    max-width: 80px;
  }

  .projects-section {
    padding: var(--spacing-medium);
  }

  .projects__section--functionality {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  .search-input {
    width: 140px;
  }

  .projects__section-header {
    font-size: var(--font-size-medium);
    line-height: var(--spacing-small);
    width: 100%;
    padding-top: var(--spacing-medium);
    padding-bottom: var(--spacing-medium);
  }

  .projects-filter {
    gap: var(--spacing-small);
    width: 50%;
  }

  .projects-container {
    height: 750px;
  }

  .project-card {
    height: 350px;
  }

  .project-image {
    height: 250px;
  }

  .project-card h3 {
    font-size: var(--font-size-xsmall);
  }

  .project-card p {
    font-size: var(--font-size-2xsmall);
  }
}

/* Break Point Medium Phone: 375px */
@media screen and (max-width: 375px) {
  .search-input {
    width: 140px;
  }

  .filter-link {
    font-size: var(--font-size-3xsmall);
  }
}

/* Break Point Small Phone: 320px */
@media screen and (max-width: 320px) {
  .projects-filter {
    gap: var(--spacing-xsmall);
  }

  .filter-link {
    line-height: var(--spacing-small);
    text-align: left;
  }

  .projects-container {
    height: 530px;
  }

  .project-card {
    height: 250px;
  }

  .project-image {
    height: 180px;
  }

  .project-card h3 {
    font-size: var(--font-size-2xsmall);
  }

  .project-card p {
    font-size: var(--font-size-3xsmall);
  }
}
