body {
  width: 100%;
  height: 100vh;
}

.project__information-container {
  width: 100%;
  height: 900px;
  padding: var(--spacing-medium);
  display: flex;
  gap: var(--spacing-small);
}

.project__information-header {
  width: 20%;
  height: 100%;
  padding: var(--spacing-large);
}

.project__information-description {
  width: 30%;
  height: 100%;
  padding: var(--spacing-large);
}

.project__information-accordion-container {
  width: 50%;
  height: 100%;
}

/* Slideshow */
.slideshow__container {
  width: 100%;
  position: relative;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bullets__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 40px;
  padding-bottom: var(--spacing-small);
}

.slide {
  text-align: center;
  width: 100%;
  height: 100%;
}

.slide img {
  width: 100%;
  height: 800px;
  object-fit: cover;
}

.previous,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
  padding: 0 var(--spacing-xlarge);
}

.previous img,
.next img {
  width: 20px;
  height: auto;
}

.previous {
  left: 16px;
}

.next {
  right: 16px;
}

.bullets {
  bottom: 110px;
  width: 100%;
  text-align: center;
  z-index: 10;
}

.dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  background: white;
  border: 1.5px solid var(--text-color);
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background: var(--text-color);
}

.slide {
  display: none;
}

.slide.active {
  width: 100%;
  display: block;
}

/* Media Queries */
/* Break Point Tablet: 840px */
@media screen and (max-width: 840px) {
  .project__information-header {
    width: 16%;
    height: 100%;
    padding: var(--spacing-large);
  }

  .project__information-header h2 {
    font-size: var(--font-size-xsmall);
  }
  .project__information-description {
    width: 44%;
    height: 100%;
  }

  .project__information-description p {
    font-size: var(--font-size-xsmall);
  }

  .project__information-accordion-container {
    width: 40%;
    height: 100%;
  }

  .accordion__container-details {
    width: 100%;
    height: 600px;
    padding: var(--spacing-medium);
  }

  .accordion {
    width: 100%;
    height: auto;
  }

  .accordion__title-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-small);
    cursor: pointer;
    border-bottom: 2px solid black;
    font-size: var(--font-size-small);
  }

  .accordion__description-container p {
    width: 100%;
  }
}

/* Break Point: 580px */
@media screen and (max-width: 580px) {
  .project__information-container {
    display: flex;
    flex-direction: column;
    height: 1000px;
  }

  .project__information-header-details {
    padding: var(--spacing-xsmall) var(--spacing-large);
    width: 100%;
    height: 100px;
  }

  .project__information-header {
    height: 80px;
    width: 100%;
  }

  .project__information-header h2 {
    font-size: var(--font-size-small);
  }
  .project__information-description {
    width: 90%;
    height: 100%;
    padding: var(--spacing-xsmall) var(--spacing-large);
  }

  .project__information-accordion-container {
    width: 100%;
    height: 600px;
  }

  .accordion__container-details {
    height: 100%;
  }

  /* Slideshow */
  .slideshow__container {
    height: 450px;
  }

  .slide img {
    height: 450px;
  }
}

/* Break Point: Mobile Large: 425px */
@media screen and (max-width: 425px) {
  .project__information-description {
    width: 100%;
  }

  .project__information-container {
    height: 1100px;
  }

  .slideshow__container {
    height: 350px;
  }

  .slide img {
    height: 350px;
  }
}

/* Break Point: Mobile Medium: 375px */
@media screen and (max-width: 375px) {
  .project__information-container {
    height: 1300px;
  }

  .project__information-header {
    width: 100%;
    height: 50px;
    padding: var(--spacing-small);
  }

  .project__information-description {
    width: 100%;
    padding: var(--spacing-small);
  }

  .accordion__title-h3-details {
    padding: var(--spacing-xsmall);
    font-size: var(--font-size-xsmall);
    line-height: var(--spacing-xsmall);
  }

  .accordion__description-container p {
    width: 100%;
    font-size: var(--font-size-2xsmall);
  }
}

/* Break Point: Mobile Small: 320px */
@media screen and (max-width: 320px) {
  .project__information-container {
    height: 1300px;
  }

  .project__information-header {
    padding: var(--spacing-small);
    height: 50px;
  }
}
