@font-face {
  font-family: "Syne", sans-serif;
  src: url(../assets/fonts/Syne.ttf);
}

body {
  min-width: 340px;
  width: 100%;
  height: 100vh;
  font-family: Syne;
}

header {
  width: 100%;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  color: black;
  padding: var(--spacing-medium) var(--spacing-large);
  font-family: "Syne", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow: hidden;
}

.navbar__logo-container {
  width: 400px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__logo {
  width: 400px;
}

/* Link Styles */
.navbar__links-container {
  flex-grow: 1;
  display: flex; /**/
  justify-content: flex-end; /**/
}

.navbar__links {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-xlarge);
}

.navbar__links a {
  color: inherit;
  font-size: var(--font-size-xsmall);
}

.navbar__links a:hover {
  color: var(--tertiary-color);
}

.navbar__link-active {
  border-bottom: 1px solid var(--text-color);
}

.navbar__link-active:hover {
  border-bottom: 1px solid var(--hover-color);
}

/* Styles for toggle button (hamburgermeny) */
.navbar__toggle-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
}

.navbar__toggle-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.navbar__toggle-logo {
  visibility: hidden;
  display: block;
  color: var(--text-color);
}

.navbar__toggle-logo:hover {
  color: var(--hover-color);
}

.hero__section-container {
  max-width: 100%;
}

.hero__section-picture {
  width: 100%;
}

/* Styling Main Content */
.artist__statement-container {
  width: 50%;
  height: 250px;
  padding: var(--spacing-medium);
}

h1 {
  font-size: var(--font-size-medium);
  line-height: var(--spacing-xlarge);
}

p {
  font-size: var(--font-size-xsmall);
  line-height: var(--spacing-medium);
}

.artist__statement-header {
  width: 100%;
  font-size: var(--font-size-header);
}

.artist__statement-paragraph {
  width: 80%;
  padding-top: var(--spacing-large);
  font-size: var(--font-size-small);
  line-height: var(--spacing-large);
}

/* Accordion Styling Splash Page */
.accordion__container-splashpage {
  width: 100%;
  height: 600px;
  padding: var(--spacing-medium);
}

.accordion {
  width: 100%;
  height: auto;
}

.accordion__title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-small);
  cursor: pointer;
  border-bottom: 2px solid black;
  font-size: var(--font-size-small);
}

.accordion__toggle-button {
  padding: var(--spacing-small);
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: black;
}

.accordion__toggle-logo {
  transition: transform 0.3 linear;
}

/* ---------------------------------------------- */
.accordion__description-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3 linear;
}

.accordion__description-container--active {
  max-height: 500px;
}

.accordion__description {
  line-height: 1.3;
  padding: var(--spacing-small);
  width: 60%;
  font-size: var(--font-size-xsmall);
}

/* ---------------------------------------------- */
.rotate-arrow {
  transform: rotate(180deg);
}

/* Call To Action */
.calltoaction__button-container {
  width: 100%;
  height: 200px;
  padding: var(--spacing-medium);
}

.calltoaction__button-container a {
  color: black;
}

/* Footer Styling */
footer {
  width: 100%;
  display: flex;
  padding: var(--spacing-medium) var(--spacing-medium);
  justify-content: space-between;
}

footer img {
  max-width: 150px;
}

.footer__links {
  width: 20%;
  display: flex;
  gap: var(--spacing-medium);
  justify-content: right;
  align-items: end;
}

.footer__links a {
  color: black;
}

/* Break Point: 1350px */
@media screen and (max-width: 1350px) {
  .artist__statement-container {
    width: 100%;
    height: 300px;
  }

  .artist__statement-header {
    width: 100%;
    font-size: var(--font-size-header);
  }

  .artist__statement-paragraph {
    width: 50%;
  }
}

/* Break Point Tablet: 840px */
@media screen and (max-width: 840px) {
  .navbar__logo-container {
    width: 200px;
    height: 80px;
  }

  .navbar__logo {
    width: 200px;
  }

  .artist__statement-container {
    width: 100%;
    height: 200px;
  }

  .artist__statement-header {
    width: 100%;
    font-size: var(--font-size-medium);
    line-height: var(--spacing-medium);
  }

  .artist__statement-paragraph {
    width: 50%;
    font-size: var(--font-size-xsmall);
    line-height: var(--spacing-medium);
  }

  .accordion__container-splashpage {
    height: 680px;
  }

  footer img {
    max-width: 100px;
  }
}

/* Break Point Tablet: 768px */
@media screen and (max-width: 768px) {
  .navbar__toggle-logo {
    visibility: visible;
  }

  .navbar__logo-container {
    width: 200px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar__logo {
    width: 200px;
  }

  .navbar__links {
    position: absolute;
    top: 0;
    left: -1000px;
    width: 85%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: left 0.5s ease-in-out;
    background-color: var(--background-color);
    z-index: 999;
  }

  .navbar__links-active {
    left: 0;
  }
}

/* Break Point Small Tablet: 580px */
@media screen and (max-width: 580px) {
  .navbar__links {
    width: 75%;
  }

  footer img {
    max-width: 80px;
  }
}

/* Break Point Large Phone: 425px */
@media screen and (max-width: 425px) {
  .artist__statement-container {
    width: 100%;
    height: 250px;
  }

  .artist__statement-header {
    width: 100%;
    font-size: var(--font-size-small);
  }

  .artist__statement-paragraph {
    width: 90%;
    font-size: var(--font-size-xsmall);
  }
}

/* Break Point Medium Phone: 375px */
@media screen and (max-width: 375px) {
  .artist__statement-container {
    width: 100%;
    height: 300px;
  }

  .artist__statement-header {
    width: 70%;
    height: 70px;
    font-size: var(--font-size-small);
    line-height: var(--spacing-large);
  }

  .artist__statement-paragraph {
    width: 70%;
    font-size: var(--font-size-xsmall);
    padding-top: var(--spacing-small);
  }

  .accordion__title-container {
    border-bottom: 1.5px solid black;
  }

  .accordion__description-container--active {
    max-height: 500px;
  }

  .accordion__description {
    line-height: var(--spacing-medium);
    padding: var(--spacing-small);
    width: 100%;
    font-size: var(--font-size-xsmall);
  }
}

/* Break Point Medium Phone: 320px */
@media screen and (max-width: 320px) {
  body {
    min-width: 320px;
  }

  .artist__statement-container {
    width: 100%;
    height: 300px;
  }

  .artist__statement-header {
    width: 90%;
    height: 75px;
  }

  .artist__statement-paragraph {
    width: 100%;
    padding-top: var(--spacing-xsmall);
  }

  .accordion__description-container--active {
    max-height: 800px;
    font-size: var(--font-size-small);
    border: 2px solid red;
  }

  .accordion__description {
    line-height: var(--spacing-medium);
    padding: var(--spacing-small);
    width: 100%;
    font-size: var(--font-size-xsmall);
  }
}
